
/* =========== GERAL ============ */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


li{
	text-align: left;
}

*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}

:root {
	--hue: 220;
	--primary-color: hsla(var(--hue), 100%, 26%, 1);
	--brand-beige: hsla(39, 100%, 97%, 1);
	--brand-ligth: hsla(calc(var(--hue) - 22), 23%, 89%, 1);
	--headline: hsla(210, 11%, 15%, 1);
	--paragraph: hsla(210, 9%, 31%, 1);
	--bg-light: hsla(180, 14%, 97%, 1);
	--brand-green-hover: hsla(var(--hue), 100%, 14%, 1);

	font-size: 62.5%; /* padrão 10px */
	--nav-heigth: 7.2rem;
}

body {
	font-family: 'DM Sans', ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
	font-size: 1.6rem;
	text-align: center;
	overflow: overlay;
	background-color: var(--bg-light);
}

html {
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

img {
	max-width: 100%;
}

#app {
	min-height: 100vh;
}

.wrapper {
	width: min(50rem, 100%);
	margin-inline: auto;
	padding-inline: 2.4rem;
}

.logo_image {
	height: 5rem;
}

section {
	padding-block: 5rem;
}

section#home {
	padding-bottom: 0;
}

section header h1 {
	font-size: 3.4rem;
	color: var(--headline);
	line-height: 130%;
}

section header h2 {
	text-align: left;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.9rem;
	color: var(--headline);
}

section header h4 {
	font-size: 1.4rem;
	color: var(--primary-color);
	line-height: 150%;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
}

/* CUSTOM COLORS  */
/*
#services .card circle {
	fill: var(--brand-ligth);
}

.header .logo path[fill*='#00856F'],
#back-top-button circle {
	fill: var(--primary-color);
}

#services .card path,
button.open-menu path[stroke*='#00856F'],
#contact p path {
	/*stroke: var(--primary-color);
}

.header.scroll button.open-menu path[stroke*='#00856F'] {
	stroke: white;
}

.header.scroll .logo path,
.menu-expanded .header .logo path[fill*='#00856F'],
.header.scroll .logo path[fill*='#00856F'] {
	fill: white;
}

*/

.header.header .menu .media_links {
	display: none;
}

/* ======== NAVIGATION ======== */

.header {
	display: flex;
	position: fixed;
	top: 0;
	height: var(--nav-heigth);
	z-index: 100;
	width: 100%;
}

.header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header.scroll {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10.5px);
}

.header .menu,
.header .close-menu {
	position: fixed;
}

/* ======== MENU EXPANDED ======== */

body.menu-expanded {
	overflow: hidden;
}

body.menu-expanded > :not(.header) {
	visibility: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
	opacity: 0;
	visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
	opacity: 1;
	visibility: visible;
	left: auto; 
 	right: 3em; 
}

.menu {
	transform: translateY(100%);
}

body.menu-expanded .menu {
	top: 0;
	left: auto; 
  	right: 0;
	background-color: var(--primary-color);
	width: 100%;
	height: 100vh;
	padding-top: var(--nav-heigth);
	transition: transform 300ms;
	transform: translateY(0);
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3.2rem;
}

.menu ul:nth-child(1) {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
	margin-top: 6rem;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3.1rem;
}

.menu ul li a {
	color: white;
	text-decoration: none;
}

.menu-links li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4.8rem;
	font-weight: 600;
	font-size: 1.4rem;
	text-transform: uppercase;
}

/* .menu button {
	background: white;
	padding: 16px 32px;
	border-radius: 4rem;
	color: var(--primary-color);
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin-top: 4.8rem;
	margin-bottom: 8rem;
}

.menu button:hover {
	background-color: var(--primary-color);
	color: white;
	filter: brightness(1.3);
} */

.whatsapp {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: transparent !important;
	border-color: #fff;
	color: #fff !important;
	padding: 8px 11px !important;
	border-width: 1px;
	cursor: pointer;
	height: 5rem;
	width: 17rem;
}

.whatsapp svg {
	display: inline-flex;
	margin-right: 1rem !important;
	color: #fff !important;
}

.whatsapp span {
	font-weight: bold;
	color: #fff !important;
}

.social_icon svg {
	width: 30px;
	height: 30px;
}

.open-menu,
.close-menu {
	background: none;
	border: none;
}

body.menu-expanded .logo,
body.menu-expanded button {
	position: relative;
	z-index: 10;
}

body.menu-expanded .logo path {
	fill: white;
}

body.menu-expanded button path {
	stroke: white;
}

/* HOME SECTION */



#home {
	padding-top: calc(4.1rem + var(--nav-heigth));
	margin: 0px;
    width: 100vw;
    height: 400px;
    background: url(../assets/images/MecanicServices.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: right;
    justify-content: flex-start;
    display: flex;
    align-items: first baseline;
}


#home h1 {
	margin-bottom: 0.5rem;
	font-size: 1.8rem;
	color: rgba(0, 0, 0, 0.806);
	line-height: 130%;
    padding: 20px;
}

#home p {
	font-size: 1.8rem;
	line-height: 150%;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.85);
	margin-bottom: 1.2rem;
}


#home .stat h3 {
	font-size: 4.8rem;
	color: var(--headline);
	line-height: 130%;
	margin-bottom: 0.4rem;
}

#home .stat p {
	line-height: 150%;
	color: var(--primary-color);
	margin: 0;
}

.textcontainer{
    margin-top: 10%;
	background-color: #CDDCE4;
    width: fit-content;
    height: 90px;
    text-align: center;
}

#home h1:nth-child(1){
	margin-left: 60px;
}

/* AQUI COMIENZAN LOS ESTILOS DE LA SECCION DE HOJALATERIA Y PINTURA*/

#serviceHojalateria{
	width: 100vw;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0px;
	height: fit-content;
}

.enlacesHorizontales{
	display: flex;
	flex-direction: row;
	gap: 55px;
	list-style: none;
	width: 100vw;
	justify-content: center;
	height: fit-content;
	margin-top: 30px;
	margin-bottom: 30px;
}

.enlacesHorizontales li a{
	text-decoration: none;
	color: black;
	font-size: 1.8rem;
}

.enlacesHorizontales li a:hover{
	opacity: 0.5;
	transition-duration: 0.3s;
}

/*CARD DE DESCRIPCIÓN*/

.descripcionservice{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textContainer{
	height: fit-content;
	padding: 0px 20px;

}

.textContainer p{
	text-align: start;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
}

/* ASIDE CONFIGURACION */

.asideServices{
	width: 35vw;
	margin-left: 1vw;
	height: fit-content;
	float: left;
	background: #e8dbdb;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 500px;
}

.asideServices .titleAsideConatainer{
	margin-top: 12px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.asideServices .titleAsideConatainer h1{
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
}

.marginLeftTitleList{
	margin-left: 10%;
}



.marginLeftList ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

.marginLeftList{
	width: 100%;
	display: flex;
	padding-left: 15%;
}


/* List 1 */

.listTitle1{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.listTitle1 ul{
	padding-left: 0;
}

#arrowone{
	transition: transform 0.3s ease-in-out;
}

.textClickTitle1{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

/* List 2 */

.listTitle2{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.listTitle2 ul{
	padding-left: 0;
}

#arrowtwo{
	transition: transform 0.3s ease-in-out;
}

.textClickTitle2{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

/* List 3 */

.listTitle3{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.listTitle3 ul{
	padding-left: 0;
}

#arrowthree{
	transition: transform 0.3s ease-in-out;
}

.textClickTitle3{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

/* List 4 */

.listTitle4{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.listTitle4 ul{
	padding-left: 0;
}

#arrowfour{
	transition: transform 0.3s ease-in-out;
}

.textClickTitle4{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

/* CLASES REUSABLES*/

.show{
	max-height: 500px; /* Cambia el valor a lo que desees */
	transition: max-height 0.3s ease-in;
}

.rotate-down {
	transform: rotate(90deg);
}



/* Contenedor padre de la galería */
.galery{
	width: 90%;
	height: fit-content;
}

/*Div contenedor de las imagenes*/
.imagesContent{
	height: 90%;
	display: flex;
	width: 100%;
	box-sizing: border-box;
}

/* Comienzan los estilos de la galería */


/* Contenedor 1*/
.galery-container1{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 150px;
	padding: 10px;
	grid-gap: 10px;
	width: 100%;


}
.galery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.galeryitem:nth-child(1){
	grid-column-start: span 2;
}
.galeryitem:nth-child(4){
	grid-column-start: span 2;
}

/* Contenedor 2*/
.galery-container2{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 150px;
	padding: 10px;
	grid-gap: 10px;
	width: 100%;
	display: none;
}

.galeryitem2:nth-child(2){
	grid-column-start: span 2;

}


/* Galería autolavado*/

#serviceAutolavado{
	display: flex;
	justify-content: center;

}

/* Contenedor 3*/
.galery-container3{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 150px;
	padding: 10px;
	grid-gap: 10px;
	width: 100%;
}
.galery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.galeryitem3:nth-child(1){
	grid-column-start: span 2;
}
.galeryitem3:nth-child(4){
	grid-column-start: span 2;
}

/* Contenedor 4*/
.galery-container4{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 150px;
	padding: 10px;
	grid-gap: 10px;
	width: 100%;
	display: none;
}

.galeryitem4:nth-child(2){
	grid-column-start: span 2;

}

/*Estilos del dashboard debajo de imagenes*/
.dashControl{
	height: 10%;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
}

.button {
    background-color: #5B5B5B; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #5B5B5B;
}

.button1:hover {
    background-color: #5B5B5B;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #5B5B5B;
}

.button2:hover {
    background-color: #5B5B5B;
    color: white;
}

/*Clases reusables para insertar en JS*/
.mostraar {
	display: grid;
}

.ocultaar{
	display: none;
}


/*Footer */

/* ============== FOOTER ================ */

footer {
	background-color: #00153f;
	padding-block: 6rem;
}

.footer_title {
	font-size: 55px;
	margin: 2rem 0;
	color: #fff;
	font-weight: bold;
}

.footer_content {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 100%;
	margin: 0 auto;
}

.footer_content .cards {
	display: flex;
	flex-flow: column;
	gap: 3.2rem;
}

.footer_content .cards .card {
	display: flex;
	flex-flow: column;
	padding: 2.4rem;
	border-radius: 0.6rem;
}

.horario_atencion_titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	color: #ffffff;
}

.horario_atencion_item {
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	color: #ffffff;
}


@media (min-width: 1024px) {
	/* ============== GERAL ================ */
	body {
		overflow: auto;
	}

	.wrapper {
		width: min(112rem, 100%);
		margin-inline: auto;
		padding-inline: 5rem;
		display: grid;
	}

	section {
		padding-block: 8rem;
	}

	section h2 {
		font-size: 4rem;
		line-height: 5.2rem;
	}

	/* ============== NAVIGATION ================ */
	/* reset */
	.header.header .wrapper * {
		margin: 0;
		padding: 0;
		visibility: initial;
		position: initial;
		display: initial;
		opacity: initial;
		font-size: initial;
		flex-direction: initial;
		color: initial;
		background-color: initial;
		transform: initial;
		filter: initial;
	}

	.header.header .close-menu,
	.header.header .open-menu,
	.header.header .social-links {
		display: none;
	}

	.header.header .menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 90%;
	}

	.header.header .menu ul:nth-child(1) {
		display: flex;
		gap: 3.2rem;
	}

	.header.header .menu ul li a {
		line-height: 2.1rem;
		color: white;
		opacity: 0.7;
	}

	.header.header .menu .social_media {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	.header.header .menu .media_links {
		align-items: center;
		justify-content: center;
		display: flex;
		gap: 20px;
	}

	.header.header .menu button:hover {
		background-color: var(--primary-color);
		color: white;
	}

	.header.header .menu li a:hover {
		font-weight: 700;
		opacity: 1;
	}

	.header.header .menu li a.active {
		font-weight: 700;
		opacity: 1;
	}

	.header.header.scroll .menu li a {
		color: var(--bg-light);
		transition: opacity 400ms;
	}

	.header.header.scroll .menu button {
		border: white 1px solid;
		color: white;
	}

	.header.header .menu li a::after {
		content: '';
		width: 0%;
		height: 2px;
		background-color: white;
		position: relative;
		bottom: -2rem;
		left: -0.8rem;
		display: block;
		transition: width 200ms;
	}

	.header.header.scroll .menu li a::after {
		background-color: white;
	}

	.header.header .menu li a:hover::after {
		padding-inline: 0.8rem;
		width: 100%;
	}

	.header.header.scroll .menu button:hover {
		background-color: var(--primary-color);
	}

	.whatsapp svg {
		color: #fff !important;
	}


	/* ZONA DE HOJALATERIA Y PINTURA */
	.descripcionservice{
		width: 60vw;
		align-items: center;
		display: flex;
		justify-content: center;
	}

	
}

@media only screen and (max-width: 1000px) {
	.enlacesHorizontales {
		display: none;
	}
	.asideServices{
		display: none;
	}
}